.login-container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  height: 100vh;
  width: 100vw;
}

.left-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40vw;
	height: 100vh;
}

.small-title {
  font-size: 30px;
  margin-top: 30px;
}

.large-title {
	font-size: 50px;
  }

.right-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60vw;
	height: 100vh;
	align-items: center;
	background: #F5EADC;
}

.credentials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.tab-panel {
	width: 50%;
	align-items: left;
	margin-right: 30px;
}

.large-message {
	font-size: 30px;
	text-align: left;
	margin-top: 20px;
}

.small-message {
	font-size: 18px;
	text-align: left;
	margin-bottom: 20px;
}

.button {
	width: 150px;
	height: 50px;
	background: #FFFFFF;
	border: 3px solid #000000;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
}

.button:hover {
    background-color: #FFFBEF;
}