.inbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.row {
    display: flex;
    flex-direction: row;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.bottom-buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 150px;
}